<!DOCTYPE html>
<head>
    <link href="style.css" rel="stylesheet">
</head>
<body>
   <div class="background"> </div>
   <p>Mark Rothko, <a href="https://www.moma.org/collection/works/80566?sov_referrer=theme&theme_id=5544">No.5/No.20</a>, 1950 (dated in reverse 1949)</p>
   <div class="yellowrectangle"> </div>
   <div class="lightyellow"> </div>
   <div class="redrectangle"> </div>
   <div class="orangerectangle"> </div>

   <div class="burgandy"></div>
    
   <div class="green"></div>
   <div class="brown"></div>
    <p>Mark Rothko, <a href="https://www.moma.org/collection/works/79596">No.37/No. 19 (Slate Blue and Brown on Plum)</a>, 1958</p>

    <div class="redunder"></div>
   <div class="scully" id="blue1"></div> <div class="scully" id="blue2"></div> <div class="scully" id="blue3"></div>
    <div class="scully" id="blue4"></div> <div class="scully" id="blue5"></div>
    <div class="black"></div>
    <div class="scully" id="orange1"></div> <div class="scully" id="orange2"></div> <div class="scully" id="orange3"></div>
    <div class="scully" id="orange4"></div> <div class="scully" id="orange5"></div>
    <div class="peach"></div>
    <div class="scully" id="green1"></div> <div class="scully" id="green2"></div> <div class="scully" id="green3"></div>
    <div class="scully" id="green4"></div> <div class="scully" id="green5"></div>
    <div class="navy"></div>
    <div class="scully" id="yellow1"></div> <div class="scully" id="yellow2"></div> <div class="scully" id="yellow3"></div> 
    <div class="scully" id="yellow4"></div> <div class="scully" id="yellow5"></div> 
    <p>Sean Scully, <a href= "https://www.lissongallery.com/artists/sean-scully/artworks/landline-magenta?image_id=14282">Shutter</a>, 2019</p>
</body>