* {
    padding: 150px;
    margin: 0;
}
body{
    font-family: sans-serif;
    text-decoration-color: gray;
    font-size: 15px;
    
    
}
.rothko1{
}

.background {
    padding: 200px; 
    height:200px;
    width: 100px;
    background-color: gold;
    border: 10px black;
    margin: 150px;
    position: relative;

}
.yellowrectangle{
    height: 300px;
    width: 475px;
    position: relative;
    bottom: 740px;
    left: 163px;
    border-radius: 10px;
    background-color: goldenrod; 
}
.lightyellow{
    height:50px;
    width: 450px;
    position: relative;
    bottom: 1050px;
    left: 175px;
    border-radius: 10px;
    background-color: palegoldenrod;
}
.redrectangle{
    height: 80px;
    width: 485px;
    position: relative;
    bottom: 785px;
    left: 165px;
    border-radius: 10px;
    background-color: brown;

}
.orangerectangle{
    height:180px;
    width: 450px;
    position: relative;
    bottom: 785px;
    left: 180px;
    border-radius: 10px;
    background-color: peru;

}


.rothko2{}

    .burgandy{
        padding: 200px; 
        height:185px;
        width: 100px;
        background-color: #592626;
        border: 10px black;
        margin: 150px;
        position: relative;
        bottom: 600px;

    }
    .green{
        padding:75px;
        height: 85px;
        width: 155px;
        position: relative;
        bottom: 1200px;
        left: 250px;
        border-radius: 20px;
        background-color: #476259;

    }
    .brown{
        padding: 45px;
        height: 15px;
        width: 200px;
        position: relative;
        bottom: 1175px;
        left: 250px;
        border-radius: 20px;
        background-color: #3c2c14;
    }




